*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
}

body{
    background-color: rgb(30, 144, 255, .8);
    color: rgba(200,200,200,.9);

}

.container{
    width: 40vw;
    margin: 2rem auto;
    background-color: rgb(0, 0, 0, .8);
    border-radius: 3rem;
}
.container h2{
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2rem auto;
    font-size: 2.3rem;
    padding-top: 3rem;
    
}

.formulario{
    width: 70%;
    margin: 1rem auto;
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    
}

.formulario input{
    margin: 1rem 0rem;
    line-height: 3rem;
    background: none;
    outline: 0;
    border: 0;
    color: white;
    text-align: center;
}

.formulario input:active{
    border-bottom: 1px solid dodgerblue;
}

.formulario input:focus{
    border-bottom: 1px solid dodgerblue;
}
.formulario button{
    margin: 1rem 0rem;
    background-color: dodgerblue;
    border: 0;
    outline: 0;
    height: 3rem;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
    grid-column-start: 1;
    grid-column-end: 3;
}

.listado{
    width: 60%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}

.listado div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1.5rem;
    font-size: small;
}

.listado button{
    margin: 1rem 0rem;
    background-color: dodgerblue;
    border: 0;
    outline: 0;
    height: 3rem;
    width: 6rem;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
}
.showContact{
    width: 85%;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
}
.showContact div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1.5rem;
    font-size: 2rem;
}
.showContact button{
    margin: 1rem 0rem;
    background-color: dodgerblue;
    border: 0;
    outline: 0;
    height: 3rem;
    width: 6rem;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
}